<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eseict.mapper.AssetMapper">

	<resultMap type="com.eseict.VO.AssetVO" id="AssetVO-result">
		<id column="ASSET_ID" property="assetId" />
		<result column="ASSET_CATEGORY" property="assetCategory" />
		<result column="ASSET_USER" property="assetUser" />
		<result column="ASSET_STATUS" property="assetStatus" />
		<result column="ASSET_OUT_STATUS" property="assetOutStatus" />
		<result column="ASSET_SERIAL" property="assetSerial" />
		<result column="ASSET_PURCHASE_DATE"
			property="assetPurchaseDate" />
		<result column="ASSET_PURCHASE_PRICE"
			property="assetPurchasePrice" />
		<result column="ASSET_PURCHASE_SHOP"
			property="assetPurchaseShop" />
		<result column="ASSET_MAKER" property="assetMaker" />
		<result column="ASSET_MODEL" property="assetModel" />
		<result column="ASSET_USAGE" property="assetUsage" />
		<result column="ASSET_MANAGER" property="assetManager" />
		<result column="ASSET_LOCATION" property="assetLocation" />
		<result column="ASSET_RECEIPT_URL" property="assetReceiptUrl" />
		<result column="ASSET_COMMENT" property="assetComment" />
	</resultMap>

	<resultMap type="com.eseict.VO.CategoryVO"
		id="CategoryVO-result">
		<id column="asset_category" property="assetCategory" />
		<result column="asset_item" property="assetItem" />
	</resultMap>

	<resultMap type="com.eseict.VO.AssetDetailVO"
		id="AssetDetailVO-result">
		<id column="asset_id" property="assetId" />
		<result column="asset_item" property="assetItem" />
		<result column="asset_item_detail" property="assetItemDetail" />
	</resultMap>
	
	<resultMap type="com.eseict.VO.AssetHistoryVO" id="AssetHistoryVO-result">
		<id column="ASSET_ID" property="assetId" />
		<result column="EMPLOYEE_SEQ" property="employeeSeq" />
		<result column="EMPLOYEE_ID" property="employeeId" />
		<result column="ASSET_USER_HISTORY" property="assetUserHistory" />
		<result column="ASSET_OCCUPIED_DATE" property="assetOccupiedDate" />
		<result column="ASSET_HISTORY_COMMENT" property="assetHistoryComment" />
	</resultMap>

	<resultMap type="com.eseict.VO.AssetFormerUserVO" id="AssetFormerUserVO-result">
		<id column="ASSET_ID" property="assetId" />
		<result column="EMPLOYEE_SEQ" property="employeeSeq" />
		<result column="ASSET_USER" property="assetUser" />
		<result column="ASSET_START_DATE" property="assetStartDate" />
		<result column="ASSET_END_DATE" property="assetEndDate" />
	</resultMap>

	<resultMap type="com.eseict.VO.AssetTakeOutHistoryVO" id="AssetTakeOutHistoryVO-result">
		<id column="ASSET_ID" property="assetId" />
		<result column="EMPLOYEE_SEQ" property="employeeSeq" />
		<result column="ASSET_OUT_STATUS" property="assetOutStatus" />
		<result column="ASSET_OUT_OBJECTIVE" property="assetOutObjective" />
		<result column="ASSET_OUT_PURPOSE" property="assetOutPurpose" />
		<result column="ASSET_OUT_START_DATE" property="assetOutStartDate" />
		<result column="ASSET_OUT_END_DATE" property="assetOutEndDate" />
		<result column="ASSET_OUT_COST" property="assetOutCost" />
	</resultMap>

	<select id="getAssetList" resultMap="AssetVO-result">
		SELECT 
			*
		FROM
			ASSET_COMMON_ITEM
	</select>


	<select id="getAssetCount" resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
	</select>

	<select id="getAssetCountByUse" resultType="integer">
	select count(*)
	from asset_common_item
	where asset_status = '사용 중'
	</select>
	
	<select id="getAssetCountCanUse" resultType="integer">
	select count(*)
	from asset_common_item
	where asset_status = '사용 가능'
	</select>

	<select id="getAssetCountByNotUse" resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_STATUS = '사용 불가'
	</select>

	<select id="getAssetCountByOut" resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_STATUS = '반출'
	</select>

	<select id="getAssetCountByDispReady" resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_STATUS = '폐기 대기'
	</select>

	<select id="getAssetCountByDisposal" resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_STATUS = '폐기'
	</select>

	<select id="getAssetByAssetId" parameterType="String"
		resultMap="AssetVO-result">
		SELECT 
			*
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_ID=#{assetId}
	</select>

	<select id="getAssetCountByCategory" parameterType="String"
		resultType="integer">
		SELECT 
			COUNT(*)
		FROM 
			ASSET_COMMON_ITEM
		WHERE 
			ASSET_CATEGORY = #{assetCategory}
	</select>


	<insert id="insertAsset">
		INSERT INTO 
			ASSET_COMMON_ITEM
		VALUES(
			 #{assetId}
			,#{assetCategory}
			,#{employeeSeq}
			,#{assetUser}
			,#{assetStatus}
			,#{assetOutStatus}
			,#{assetSerial}
			,#{assetPurchaseDate}
			,#{assetPurchasePrice}
			,#{assetPurchaseShop}
			,#{assetMaker}
			,#{assetModel}
			,#{assetUsage}
			,#{assetManager}
			,#{assetLocation}
			,#{assetReceiptUrl}
			,#{assetComment}
		);
	</insert>

	<insert id="insertAssetDetail">
		INSERT INTO 
			ASSET_CATEGORY_ITEM
		VALUES(
			 #{assetId}
			,#{assetItem}
			,#{assetItemDetail}
		);
	</insert>
	

	<select id="getCategoryDetailItem" parameterType="String"
		resultMap="CategoryVO-result">
		SELECT 
			ASSET_ITEM
		FROM 
			CATEGORY_ITEM
		WHERE 
			ASSET_CATEGORY = #{assetCategory}
	</select>
	<select id="getDisposalAssetList" resultMap="AssetVO-result">
		SELECT
			*
		FROM
			ASSET_COMMON_ITEM
		WHERE
		   ASSET_STATUS='폐기'
		OR ASSET_STATUS='폐기 대기';
	</select>

	<update id="disposeAsset" parameterType="String">
		UPDATE
			ASSET_COMMON_ITEM
		SET
			ASSET_STATUS='폐기'
		WHERE
			ASSET_ID=#{assetId}
	</update>

	<select id="getAssetCategoryList" resultType="String">
		SELECT 
			DISTINCT ASSET_CATEGORY
		FROM 
			CATEGORY_ITEM
	</select>

	<select id="getAssetDetailByAssetId" parameterType="String"
		resultMap="AssetDetailVO-result">
		SELECT 
			ASSET_ITEM, ASSET_ITEM_DETAIL
		FROM 
			ASSET_CATEGORY_ITEM
		WHERE 
			ASSET_ID=#{assetId}
	</select>

	<update id="updateAsset" parameterType="com.eseict.VO.AssetVO">
		UPDATE
			ASSET_COMMON_ITEM
		<set>
			<if test="assetUser != null">ASSET_USER = #{assetUser},</if>
			<if test="assetSerial != null">ASSET_SERIAL = #{assetSerial},</if>
			<if test="assetStatus != null">ASSET_STATUS = #{assetStatus},</if>
			<if test="assetOutStatus != null">ASSET_OUT_STATUS = #{assetOutStatus},</if>
			<if test="assetPurchaseDate != null">ASSET_PURCHASE_DATE = #{assetPurchaseDate},</if>
			<if test="assetMaker != null">ASSET_MAKER = #{assetMaker},</if>
			<if test="assetPurchasePrice != null">ASSET_PURCHASE_PRICE = #{assetPurchasePrice},</if>
			<if test="assetModel != null">ASSET_MODEL = #{assetModel},</if>
			<if test="assetPurchaseShop != null">ASSET_PURCHASE_SHOP = #{assetPurchaseShop},</if>
			<if test="assetManager != null">ASSET_MANAGER = #{assetManager},</if>
			<if test="assetLocation != null">ASSET_LOCATION = #{assetLocation},</if>
			<if test="assetReceiptUrl != null">ASSET_RECEIPT_URL = #{assetReceiptUrl},</if>
			<if test="assetComment != null">ASSET_COMMENT = #{assetComment}</if>
		</set>
		WHERE ASSET_ID = #{assetId}
	</update>

	<delete id="deleteAssetById" parameterType="String">
		DELETE FROM
			ASSET_COMMON_ITEM
		WHERE
			ASSET_ID=#{assetId}
	</delete>

	<select id="getAssetIdListByCategory" parameterType="String" resultType="String">
		SELECT
			ASSET_ID
		FROM
			ASSET_COMMON_ITEM
		WHERE
			ASSET_CATEGORY=#{assetCategory}
	</select>

	<update id="updateAssetDetail" parameterType="com.eseict.VO.AssetDetailVO">
		UPDATE
			ASSET_CATEGORY_ITEM
		SET 
			ASSET_ITEM_DETAIL = #{assetItemDetail}
		WHERE 
			ASSET_ID = #{assetId}
		AND
			ASSET_ITEM = #{assetItem} 	
	</update>
	
	<update id="updateAssetDisposal" parameterType="string">
		UPDATE
			asset_common_item
		SET 
			asset_status = '폐기 대기'
		WHERE 
			asset_id = #{assetId} 
	</update>
	
	<select id="getAssetHistoryByAssetId" parameterType="String" resultMap="AssetHistoryVO-result">
		SELECT 
			*
		FROM 
			ASSET_HISTORY
		WHERE 
			ASSET_ID = #{assetId}
	</select>
	
	<select id="getAssetFormerUserByAssetId" parameterType="String" resultMap="AssetFormerUserVO-result">
		SELECT
			*
		FROM
			ASSET_FORMER_USER
		WHERE 
			ASSET_ID = #{assetId}	
	</select>
	
	<insert id="insertAssetHistory">
		INSERT INTO
				ASSET_HISTORY
		VALUES(
			#{assetId}
			,#{employeeSeq}
			,#{assetOccupiedDate}
			,#{assetHistoryComment}
		);
	</insert>
	
	<insert id="insertAssetFormerUser">
		INSERT INTO
				ASSET_FORMER_USER
		VALUES(
			#{assetId}
			,#{employeeSeq}
			,#{assetUser}
			,#{assetStartDate}
			,#{assetEndDate}
		);
	</insert>
	
	<update id="updateAssetFormerUserByKey" parameterType="hashmap">
		UPDATE
			ASSET_FORMER_USER
		SET 
			asset_end_date = #{assetEndDate}
		WHERE
			asset_id = #{assetId}
		AND
			employee_seq = #{employeeSeq}
	</update>
	
	<update id="updateAssetHistory" parameterType="com.eseict.VO.AssetHistoryVO">
		UPDATE 
			ASSET_HISTORY
		SET
			EMPLOYEE_SEQ = #{employeeSeq},
			ASSET_OCCUPIED_DATE = #{assetOccupiedDate},
			ASSET_HISTORY_COMMENT = #{assetHistoryComment}
		WHERE	
			asset_id = #{assetId}
	</update>
	
	
	
</mapper>







