<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eseict.mapper.CategoryMapper">

	<resultMap type="com.eseict.VO.CategoryVO" id="CategoryVO">
		<result column="ASSET_CATEGORY" property="assetCategory"/>
		<result column="ASSET_ITEM" property="assetItem"/>
	</resultMap>
	
	<resultMap type="com.eseict.VO.CategoryCodeVO" id="CategoryCodeVO">
		<result column="ASSET_CATEGORY" property="assetCategory"/>
		<result column="CATEGORY_CODE" property="assetCategoryCode"/>
	</resultMap>
	
	<select id="getCategoryList" resultMap="CategoryVO">
		SELECT
			*
		FROM
			CATEGORY_ITEM
	</select>
	
	<select id="getCategoryCount" resultType="integer">
		SELECT
			COUNT(DISTINCT ASSET_CATEGORY)
		FROM
			CATEGORY_ITEM;
	</select>
	
	<select id="getCategoryByName" resultType="String">
		SELECT
			ASSET_ITEM
		FROM
			CATEGORY_ITEM
		WHERE
			ASSET_CATEGORY=#{categoryName}
	</select>
	
	<insert id="newCategory">
		INSERT INTO
			CATEGORY_ITEM ("asset_category", "asset_item")	<!-- 대문자로 수정하지 말 것 -->
		SELECT
			#{assetCategory}, #{assetItem}
		WHERE NOT EXISTS(
			SELECT
				"asset_category", "asset_item"				<!-- 대문자로 수정하지 말 것 -->
			FROM
				CATEGORY_ITEM
			WHERE
				ASSET_CATEGORY=#{assetCategory}
				AND ASSET_ITEM=#{assetItem}
		)
	</insert>
	
	<delete id="deleteCategory" parameterType="String">
		DELETE FROM
			CATEGORY_ITEM
		WHERE
			ASSET_CATEGORY=#{categoryName}
	</delete>
	
	<delete id="deleteItem" parameterType="HashMap">
		DELETE FROM
			CATEGORY_ITEM
		WHERE
			ASSET_ITEM=#{itemName}
			AND ASSET_CATEGORY=#{categoryName}
	</delete>
	
	<select id="checkCategoryItem" resultType="integer">
		SELECT
			COUNT(*)
		FROM
			CATEGORY_ITEM
		WHERE
			ASSET_CATEGORY=#{assetCategory}
			AND ASSET_ITEM=#{assetItem}
	</select>
	
	<update id="updateCategoryName" parameterType="HashMap">
		UPDATE
			CATEGORY_ITEM
		SET
			ASSET_CATEGORY=#{categoryName}
		WHERE
			ASSET_CATEGORY=#{categoryOriName};
			
		UPDATE
			ASSET_COMMON_ITEM
		SET
			ASSET_CATEGORY=#{categoryName}
		WHERE
			ASSET_CATEGORY=#{categoryOriName};
			
		UPDATE
			CATEGORY_CODE
		SET
			ASSET_CATEGORY=#{categoryName}
		WHERE
			ASSET_CATEGORY=#{categoryOriName}
	</update>
	
	<update id="updateItemName" parameterType="HashMap">
		UPDATE
			CATEGORY_ITEM
		SET
			ASSET_ITEM=#{itemName}
		WHERE
			ASSET_ITEM=#{itemOriName}
			AND ASSET_CATEGORY=#{categoryName}
	</update>
	
	<select id="isCategory" parameterType="String" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			CATEGORY_CODE
		WHERE
			ASSET_CATEGORY=#{categoryName}
	</select>

	<select id="existsCode" parameterType="String" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			CATEGORY_CODE
		WHERE
			CATEGORY_CODE=#{code}
	</select>
	
	<insert id="newCode" parameterType="HashMap">
		INSERT INTO
			CATEGORY_CODE
		VALUES
			(#{categoryName}, #{codeName})
	</insert>
	
	<select id="getCode" parameterType="String" resultType="String">
		SELECT
			CATEGORY_CODE
		FROM
			CATEGORY_CODE
		where
			ASSET_CATEGORY=#{categoryName}
	</select>
	
	<select id="getCategoryCodeList" resultMap="CategoryCodeVO">
		SELECT
			*
		FROM
			CATEGORY_CODE
	</select>

	<delete id="deleteCode" parameterType="String">
		DELETE FROM
			CATEGORY_CODE
		WHERE
			ASSET_CATEGORY=#{categoryName}
	</delete>

</mapper>