<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eseict.mapper.EmployeeMapper">

	<insert id="newEmployee">
		INSERT INTO employee VALUES
		(nextval('employee_sequence'), #{employeeName}, #{employeeId}, #{employeePw}, #{employeeRank},
		#{employeeDepartment}, #{employeeLocation}, #{employeeEmail}, #{employeePhone}, #{employeeStatus})
	</insert>

	<select id="checkIdDuplication" resultType="String">
		SELECT
			employee_id
		FROM
			employee
		WHERE
			employee_id=#{employeeId}
	</select>
	
	<select id="checkRegistered" parameterType="hashmap" resultType="integer">
		SELECT
			count(*)
		FROM
			employee
		WHERE
			employee_id=#{id} AND
			employee_pw=#{pw}			
	</select>
	
	<select id="getEmployeeList" resultType="com.eseict.VO.EmployeeVO">
	<![CDATA[
		SELECT
			employee_seq	as "employeeSeq",
			employee_name	as "employeeName",
			employee_id		as "employeeId",
			employee_pw		as "employeePw",
			employee_rank	as "employeeRank",
			employee_department	as "employeeDepartment",
			employee_location	as "employeeLocation",
			employee_email	as "employeeEmail",
			employee_phone	as "employeePhone",
			employee_status	as "employeeStatus"
		FROM
			employee
	]]>
	</select>

	<select id="getDepartment" parameterType="integer" resultType="string">
		SELECT
			employee_department_string
		FROM
			department
		WHERE
			employee_department=#{employeeDepartment}
	</select>

	<select id="getRank" parameterType="integer" resultType="string">
		SELECT
			employee_rank_string
		FROM
			rank
		WHERE
			employee_rank=#{rank}
	</select>

</mapper>