<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eseict.mapper.EmployeeMapper">

	<resultMap type="com.eseict.VO.EmployeeVO" id="EmployeeVO-result">
		<id column="EMPLOYEE_SEQ" property="employeeSeq"/>
		<result column="EMPLOYEE_NAME" property="employeeName"/>
		<result column="EMPLOYEE_ID" property="employeeId"/>
		<result column="EMPLOYEE_PW" property="employeePw"/>
		<result column="EMPLOYEE_RANK" property="employeeRank"/>
		<result column="EMPLOYEE_DEPARTMENT" property="employeeDepartment"/>
		<result column="EMPLOYEE_LOCATION" property="employeeLocation"/>
		<result column="EMPLOYEE_EMAIL" property="employeeEmail"/>
		<result column="EMPLOYEE_PHONE" property="employeePhone"/>
		<result column="EMPLOYEE_STATUS" property="employeeStatus"/>
		<collection property="rankVO" resultMap="RankVO-result"/>
		<collection property="departmentVO" resultMap="DepartmentVO-result"/>
	</resultMap>
	
	<resultMap type="com.eseict.VO.RankVO" id="RankVO-result">
		<result column="EMPLOYEE_RANK" property="employeeRank"/>
		<result column="EMPLOYEE_RANK_STRING" property="employeeRankString"/>
	</resultMap>
	
	<resultMap type="com.eseict.VO.DepartmentVO" id="DepartmentVO-result">
		<result column="EMPLOYEE_DEPARTMENT" property="employeeDepartment"/>
		<result column="EMPLOYEE_DEPARTMENT_STRING" property="employeeDepartmentString"/>
	</resultMap>
	
	<insert id="newEmployee">
		INSERT INTO
			EMPLOYEE
		VALUES (
			NEXTVAL('EMPLOYEE_SEQUENCE')
			, #{employeeName}
			, #{employeeId}
			, #{employeePw}
			, #{employeeRank}
			, #{employeeDepartment}
			, #{employeeLocation}
			, #{employeeEmail}
			, #{employeePhone}
			, #{employeeStatus}
		)
	</insert>

	<select id="checkIdDuplication" resultType="String">
		SELECT
			EMPLOYEE_ID
		FROM
			EMPLOYEE
		WHERE
			EMPLOYEE_ID=#{employeeId}
	</select>
	
	<select id="checkRegistered" parameterType="hashmap" resultType="integer">
		SELECT
			COUNT(*)
		FROM
			EMPLOYEE
		WHERE
			EMPLOYEE_ID=#{id}
			AND EMPLOYEE_PW=#{pw}			
	</select>

 	 <select id="getEmployeeList" resultMap="EmployeeVO-result" >
		SELECT
			EMPLOYEE.*, RANK.EMPLOYEE_RANK_STRING, DEPARTMENT.EMPLOYEE_DEPARTMENT_STRING
		FROM
			EMPLOYEE, RANK, DEPARTMENT
		WHERE
			EMPLOYEE.EMPLOYEE_RANK = RANK.EMPLOYEE_RANK
		AND 
			EMPLOYEE.EMPLOYEE_DEPARTMENT=DEPARTMENT.EMPLOYEE_DEPARTMENT
	</select>
	
	<select id="getEmployeeNameList" resultType="String">
		SELECT
			EMPLOYEE_NAME
		FROM
			EMPLOYEE
	</select>
 	 
	<select id="selectEmployeeByEmployeeSeq" parameterType="integer" resultMap="EmployeeVO-result">
		SELECT
			EMPLOYEE.*, RANK.EMPLOYEE_RANK_STRING, DEPARTMENT.EMPLOYEE_DEPARTMENT_STRING
		FROM
			EMPLOYEE, RANK, DEPARTMENT
		WHERE
			EMPLOYEE.EMPLOYEE_RANK = RANK.EMPLOYEE_RANK
		AND 
			EMPLOYEE.EMPLOYEE_DEPARTMENT=DEPARTMENT.EMPLOYEE_DEPARTMENT 
		AND 
			EMPLOYEE_SEQ = #{employeeSeq}
	</select>
	
	<update id="updateEmployee" parameterType="com.eseict.VO.EmployeeVO">
		UPDATE
			EMPLOYEE
		SET
			EMPLOYEE_PW=#{employeePw},
			EMPLOYEE_RANK=#{employeeRank},
			EMPLOYEE_DEPARTMENT=#{employeeDepartment},
			EMPLOYEE_LOCATION=#{employeeLocation},	
			EMPLOYEE_EMAIL=#{employeeEmail},
			EMPLOYEE_PHONE=#{employeePhone},
			EMPLOYEE_STATUS=#{employeeStatus}
		WHERE
			EMPLOYEE_SEQ=#{employeeSeq}
	</update>	

	<delete id="deleteEmployee" parameterType="integer">
		DELETE
		FROM
			EMPLOYEE
		WHERE
			EMPLOYEE_SEQ = #{employeeSeq}
	</delete>
	
	<select id="selectEmployeeStatusById" parameterType="String" resultType="String">
		SELECT
			EMPLOYEE_STATUS
		FROM
			EMPLOYEE
		WHERE
			EMPLOYEE_ID=#{employeeId}
	</select>
	
	<select id="getUserCount" resultType="integer">
		SELECT
			COUNT(*)
		FROM
			EMPLOYEE
	</select>
	
	<select id="getEmployeeListByName" parameterType="string" resultMap="EmployeeVO-result">
		SELECT
			EMPLOYEE.*, RANK.EMPLOYEE_RANK_STRING, DEPARTMENT.EMPLOYEE_DEPARTMENT_STRING
		FROM
			EMPLOYEE, RANK, DEPARTMENT
		WHERE
			EMPLOYEE.EMPLOYEE_RANK = RANK.EMPLOYEE_RANK
		AND 
			EMPLOYEE.EMPLOYEE_DEPARTMENT=DEPARTMENT.EMPLOYEE_DEPARTMENT
		AND 
			EMPLOYEE_NAME LIKE '%'||#{employeeName}||'%' 
	</select>
	
	<select id="getEmployeeSeqByEmpId" parameterType="String" resultType="Integer">
		SELECT 	
			EMPLOYEE_SEQ
		FROM 
			EMPLOYEE
		WHERE 
			EMPLOYEE_ID = #{employeeId}
	</select>
	
	<select id="getEmployeeSeqByEmpName" parameterType="String" resultType="Integer">
		SELECT
			EMPLOYEE_SEQ
		FROM 
			EMPLOYEE
		WHERE
			EMPLOYEE_NAME = #{employeeName}
	</select>
	
	
</mapper>
